.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 420px;
}

.aboutHead {
    font-size: 6rem;
    font-weight: 800;
    padding-left: 2rem;
}

.aboutPara {
    height: 400px;
    padding: 3rem;

}

.aboutChildPara {
    width: 87%;
    margin: auto;
}

.midSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.midHead {
    text-align: center;
    font-weight: 800;
    padding-bottom: 2rem;
}

.midPara {
    width: 87%;
    padding: 2rem 0;
}

.layerText {
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spanText {
    color: #6927FF;
    font-weight: 800;
}

.layer {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/layer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.founder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    text-align: center;
}

.founderImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.childImg {
    margin: 1rem 0;
}

@media (max-width: 1024px) {
    .banner {
        flex-direction: column-reverse;
        height: 580px;
        justify-content: space-evenly;
        align-items: center;
    }

    .aboutHead {
        font-size: 3rem;
        padding-left: 0;

    }

    .aboutPara {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .banner img {
        width: 100%;
    }

    .midSection {
        height: auto;
    }

    .midSection img {
        width: 100%;
    }

    .layer {
        height: 40vh;
    }

    .childImg {
        width: 100%;
    }

    .aboutChildPara {
        width: 100%;
    }

    .midSection {
        height: auto;
    }

    .founder {
        height: auto;
    }

}